/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/appfusion.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/appfusion.png") no-repeat center top;
        background-size: contain;
    }
}

 .file-drop-zone { 
 	border: dotted 3px lightgray; 
 	width:80%;
 	height:150px;
 }
 
 .file-over { 
 	border: dotted 3px red; 
 } 
 

#clickable.vs-app {
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

vs-app, vs-app *.vs-app {
    box-sizing: border-box;
}
